html,
body,
#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin: 0;
  padding: 0;
  font-size: 16px !important;
}

#app {
  font-family: "Raleway", sans-serif !important;
  position: relative;
  background-size: contain;
}

#app::before {
  content: '';
  position: absolute;
  background-color: #d8d8d8;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 0;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

body,
header,
footer,
main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: #dadada;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Header*/

.ghost-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.adm-header {
  z-index: 2;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  background-color: #336699;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adm-header .bread-crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adm-header .bread-crumbs .kvp-logo {
  font-size: 1.5em;
  font-weight: 600;
  background-color: #fff;
  color: transparent;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-background-clip: text;
  background-clip: text;
  margin-right: 25px;
}

.adm-header .bread-crumbs .crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.adm-header .bread-crumbs .crumbs .crumb-item {
  margin-right: 25px;
}

.adm-header .bread-crumbs .crumbs .crumb-item a {
  font-size: 1.1em;
  font-weight: 500;
  color: #fff;
}

.adm-header .bread-crumbs .crumbs .crumb-item::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ff9800;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.adm-header .bread-crumbs .crumbs .crumb-item:last-child a {
  cursor: default;
}

/*Aside bar*/

.adm-aside {
  width: 250px;
  background-color: #fff;
  position: fixed;
  padding: 60px 15px 20px;
  left: 0;
  height: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.adm-aside .nav-aside {
  padding: 0px 5px 0px 15px;
  margin: 0;
  list-style: none;
}

.adm-aside .nav-aside li {
  margin-bottom: 15px;
}

.adm-aside .nav-aside li a {
  color: #204d7a;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
  text-decoration: none;
  margin-bottom: 8px;
  font-weight: 500;
}

.adm-aside .nav-aside li a.active {
  text-decoration: underline;
}

.adm-aside .nav-aside li a:hover {
  color: #333333;
}

.adm-aside .nav-aside li .main-link {
  color: #607d8b;
  margin-left: 0px;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adm-aside .nav-aside li .main-link i {
  margin-right: 10px;
  font-size: 1.3em;
}

/*Footer*/

.adm-footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 10%;
  z-index: 2;
}

/*Content*/

.content-field {
  width: calc(100% - 250px);
  height: 100%;
  z-index: 1;
  margin-left: 250px;
  padding: 20px 35px;
  overflow: hidden;
  overflow-y: scroll;
}

.content-field .article-form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-field .article-form .main-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.content-field .article-form .main-column .titles-row {
  background-color: #fff;
  width: 100%;
  padding: 8px 15px;
  border: 1px solid #eee;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.content-field .article-form .main-column .titles-row input {
  width: 100%;
  height: 40px;
  font-size: 1.35em;
  padding: 5px 0px 3px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #b7b4b4;
}

.content-field .article-form .aside-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 19%;
}

.content-field .article-form .aside-column .article-menu {
  background-color: #fff;
  padding: 8px 15px;
  border: 1px solid #eee;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  width: 100%;
}

.content-field .article-form .aside-column .article-menu .menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
}

.content-field .article-form .aside-column .article-menu .menu-row label {
  margin-left: 15px;
  font-size: 1.05em;
  margin-bottom: 0px;
}

.content-field .article-form .aside-column .article-menu .menu-row.btn-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.content-field .article-form .aside-column .article-menu .menu-row.btn-row a,
.content-field .article-form .aside-column .article-menu .menu-row.btn-row button {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  color: #fff;
}

.content-field .article-form .aside-column .article-menu .menu-row.btn-row a {
  background-color: blue;
}

.content-field .article-form .aside-column .article-menu .menu-row.btn-row a.disabled {
  background-color: #0000ff85;
}

.content-field .article-form .aside-column .article-menu .menu-row.btn-row button {
  background-color: #28a745;
}

.content-field .article-form .aside-column .article-categories {
  background-color: #fff;
  padding: 8px 15px;
  border: 1px solid #eee;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  width: 100%;
}

.content-field .article-form .aside-column .article-categories .menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
}

.content-field .article-form .aside-column .article-categories .menu-row input {
  margin-top: 0;
  width: 20px;
}

.content-field .article-form .aside-column .article-categories .menu-row label {
  margin-left: 15px;
  font-size: 1.05em;
  margin-bottom: 0px;
}

.content-field .article-form .aside-column .article-img {
  background-color: #fff;
  padding: 8px 15px;
  border: 1px solid #eee;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
}

.content-field .article-form .aside-column .article-img img {
  width: 100%;
  margin-bottom: 15px;
}

.content-field .article-form .aside-column .article-img input {
  display: none;
}

.content-field .article-form .aside-column .article-img label {
  border-radius: 4px;
  padding: 6px 10px;
  background-color: #ffc107;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.content-field .articles-box {
  background-color: #fff;
  width: 100%;
  padding: 8px 15px;
  border: 1px solid #eee;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.content-field table {
  width: 100%;
}

.content-field table thead tr th,
.content-field table thead tr td,
.content-field table tbody tr th,
.content-field table tbody tr td {
  padding: 5px 8px;
}

.content-field table thead tr th a,
.content-field table thead tr td a,
.content-field table tbody tr th a,
.content-field table tbody tr td a {
  color: #3E3E3E;
}

.content-field .standart-box {
  background-color: #fff;
  width: 100%;
  padding: 8px 15px;
  border: 1px solid #eee;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.content-field .standart-box .box-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content-field .standart-box .box-row.menu-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-field .standart-box .box-row.menu-form select {
  width: 43%;
  padding: 5px;
  border-radius: 6px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-field .standart-box .box-row.menu-form input {
  padding: 5px;
  width: 43%;
  height: 32px;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-field .standart-box .box-row.menu-form button {
  padding: 5px 10px;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffc107;
  border-radius: 6px;
  border: none;
  font-weight: 600;
}

.content-field .standart-box .box-row.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-field .standart-box .box-row.menu-list .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.content-field .standart-box .box-row.menu-list .menu-item .title {
  margin: 0px;
  font-size: 1.2em;
  font-weight: 500;
}

.content-field .standart-box .box-row.menu-list .menu-item .title.s1 {
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.1em;
}

.content-field .standart-box .box-row.menu-list .menu-item .title.s2 {
  margin-left: 22px;
  font-weight: 400;
  font-size: 1em;
}

.content-field .standart-box .box-row.menu-list .menu-item .title.s3 {
  margin-left: 34px;
  font-weight: 400;
  font-size: 0.95em;
}

.content-field .standart-box .box-row.menu-list .menu-item .title.s4 {
  margin-left: 46px;
  font-weight: 400;
  font-size: 0.9em;
}

.content-field .standart-box .box-row.menu-list .menu-item .title.s5 {
  margin-left: 48px;
  font-weight: 400;
  font-size: 0.85em;
}

.content-field .standart-box .box-row.menu-list .menu-item .title.s6 {
  margin-left: 60px;
  font-weight: 400;
  font-size: 0.8em;
}

.content-field .standart-box .box-row.menu-list .menu-item .title.s7 {
  margin-left: 72px;
  font-weight: 400;
  font-size: 0.75em;
}

.content-field .standart-box .box-row.menu-list .menu-item .title.s8 {
  margin-left: 84px;
  font-weight: 400;
  font-size: 0.7em;
}

.content-field .standart-box .box-row.menu-list .menu-item .manage-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-field .standart-box .box-row.menu-list .menu-item .manage-row a {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  font-size: 0.8em;
  border: none;
  font-weight: 600;
}

.content-field .standart-box .box-row.menu-list .menu-item .manage-row a.btn-edit {
  background-color: #28a745;
  margin-right: 10px;
}

.content-field .standart-box .box-row.menu-list .menu-item .manage-row a.btn-delete {
  background-color: darkred;
  margin-right: 10px;
}

.content-field .standart-box .box-row.menu-list .menu-item .manage-row a:hover {
  color: #fff;
}

.content-field .standart-box .box-row.menu-list .menu-item .manage-row a.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.content-field .standart-box .box-2-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48%;
}

.content-field .standart-box .box-2-col h3 {
  font-size: 1.5em;
  color: #607d8b;
}

.content-field .standart-box .box-2-col .box-img {
  width: 100%;
  height: 300px;
  background-position: center center;
  background-size: cover;
  margin-bottom: 15px;
}

.content-field .standart-box .box-manage-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.content-field .standart-box .box-manage-row input {
  display: none;
}

.content-field .standart-box .box-manage-row label {
  background-color: #FFC107;
  padding: 5px 10px;
  border-radius: 6px;
  margin: 0;
  margin-right: 40px;
  font-weight: 500;
  cursor: pointer;
}

.content-field .standart-box .box-manage-row button {
  background-color: #4CAF50;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  color: #fff;
}

/*Login*/

.login-box {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
}

.login-box h1 {
  text-align: center;
  font-size: 1.8em;
  color: #336699;
  margin: 0 0 16px;
}

.login-box .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 1em;
}

.login-box .form-input .fig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  z-index: 2;
}

.login-box .form-input .fig i {
  font-size: 1.6em;
  background: #3366998c;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.login-box .form-input input {
  width: 300px;
  height: 40px;
  padding: 8px 0px 5px 45px;
  outline: none;
  font-size: 1.15em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

.login-box .form-input::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3366998c;
  bottom: -3px;
}

.login-box .form-input.active .fig i {
  background: -webkit-gradient(linear, left top, right top, from(#2666D4), color-stop(#4E4DD5), to(#7534D6));
  background: linear-gradient(to right, #2666D4, #4E4DD5, #7534D6);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.login-box .form-input.active::after {
  background-color: #7534D6;
}

.login-box .submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-box .submit-form button {
  border-radius: 4px;
  border: none;
  background-color: #336699;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  padding: 8px 18px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.login-box .submit-form button:hover {
  background-color: #1f4d7c !important;
}

input {
  color: #333333;
  font-weight: 500;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333333;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #333333;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  color: #333333;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #333333;
}

input.adm-checkbox {
  width: 25px;
  margin-top: 0px;
}

input#text {
  z-index: 3;
}

.help-block {
  color: red;
}

.page-title {
  width: 100%;
  margin: 0px 0px 15px;
  font-size: 1.5em;
  color: #525252;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-title a {
  background-color: #336699;
  padding: 6px 10px;
  font-size: 0.7em;
  border-radius: 4px;
}

.page-title a:hover {
  color: #fff;
  background-color: #2C4E7A;
  text-decoration: none;
}

.modal-backdrop.in {
  display: none;
}

span.box-img {
  width: 100%;
  height: 200px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-size: cover;
  background-position: center center;
}

.btn-delete {
  background-color: darkred;
  margin-right: 10px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  font-size: 0.8em;
  border: none;
  font-weight: 600;
  color: #fff !important;
}

