//colors
$shadow: rgba(0, 0, 0, 0.65);
$swampy: #191508;
$swampy-hover: #453f1d;
$link: #4d80aa;

$header: #336699;
$header-height: 40px;
$header_logo: #fff;
$crumbs-act: #ff9800;
$adm-bg: #dadada;
$adm-text: #333333;
//fonts
$ff: 'Raleway', sans-serif;